header
  position: absolute
  top: 0px
  left: 0px
  width: 100%
  height: 50px
  overflow: hidden

  user-select: none

  @include respond-above($media_768)
    @include respond-above-ht($media_ht_480)
      height: 76px
  
  #header-inner
    position: absolute
    top: 0px
    left: 0px
    width: 100%
    height: 100%
    text-align: center
    overflow: hidden

    #logo
      position: absolute
      top: 0px
      left: 20px
      width: 50px
      height: 100%
      background-image: url('/images/logo@2x.gif')
      background-repeat: no-repeat
      background-position: center center
      background-size: 100%
      overflow: hidden
      cursor: pointer

      @include respond-above($media_480)
        left: 40px

      @include respond-above($media_768)
        left: 60px

        @include respond-above-ht($media_ht_480)
          width: 76px

      @include respond-above($media_1180)
        left: 100px

    #primary-nav
      position: absolute
      top: 50%
      left: 50%
      height: 20px
      font-size: 0
      line-height: 0

      transform: translate(-50%,-50%)

      .nav-item
        position: relative
        height: 14px
        padding: 0 10px 6px
        color: $black
        font-size: 12px
        line-height: 14px
        text-transform: capitalize
        display: inline-block
        cursor: pointer

        @include respond-above($media_480)
          @include respond-above-ht($media_ht_480)
            font-size: 14px

        @include respond-above($media_768)
          @include respond-above-ht($media_ht_480)
            margin: 0 10px

        span
          position: absolute
          bottom: 0px
          left: 10px
          right: 10px
          height: 3px
          background-color: $light_gray

          transition: background-color $speed $ease_out

        &.active
          cursor: default
          
          span
            background-color: $black

    #secondary-nav
      position: absolute
      top: 50%
      right: 0px
      width: 60px
      height: 20px
      margin: -10px 0 0
      font-size: 0
      line-height: 0

      @include respond-above($media_480)
        width: 80px

      a
        width: 50%
        height: 100%
        height: 20px
        text-decoration: none
        background-image: url('/images/icons-sprite@2x.png')
        background-repeat: no-repeat
        background-position: center 2px
        background-size: 32px 48px
        display: inline-block

        &:last-child
          background-position: center -30px

        @include respond-above($media_480)
          background-position: center top
          background-size: 40px 60px

          &:last-child
            background-position: center -40px

// ---------------------------------------------
// Party mode
// ---------------------------------------------

.party-on
  header
    #header-inner
      #primary-nav
        .nav-item:hover
          span
            background-color: $black

      #secondary-nav
        a
          opacity: 1
          transition: opacity $speed $ease_out
          
          &:hover
            opacity: 0.6