#pages
  position: absolute
  top: 76px
  left: 0px
  right: 0px
  bottom: 0px
  background-color: $light_gray
  overflow: hidden

#pages-inner
  position: absolute
  top: 0px
  left: 0px
  width: 100%
  height: 100%

.page
  position: absolute
  top: 0px
  left: 0px
  width: 100%
  height: 100%
  overflow: hidden
  display: none

  .page-inner
    position: absolute
    top: 0px
    left: 0px
    width: 100%
    height: 100%
    overflow: hidden

.slide
  position: absolute
  top: 0px
  left: 0px
  width: 100%
  height: 100%

  .slide-inner
    position: absolute
    top: 0px
    left: 0px
    width: 100%
    height: 100%
    overflow: hidden

// -----------------------------------------------
// Home styles
// -----------------------------------------------

.page#home
  background-color: $yellow

// -----------------------------------------------
// About styles
// -----------------------------------------------

.page#about
  background-color: $blue

// -----------------------------------------------
// Work styles
// -----------------------------------------------

.page#work
  background-color: rgb(3,171,140)