#pages
  position: absolute
  top: 50px
  left: 0px
  right: 0px
  bottom: 0px

  @include respond-above($media_768)
    @include respond-above-ht($media_ht_480)
      top: 76px

#pages-inner
  position: absolute
  top: 0px
  left: 0px
  width: 100%
  height: 100%
  overflow: hidden

.page
  position: absolute
  top: 0px
  left: 0px
  width: 100%
  height: 100%
  overflow: hidden
  display: none

  .page-inner
    position: absolute
    top: 0px
    left: 0px
    width: 100%
    height: 100%

    .mask-wrapper
      position: absolute
      top: 0px
      left: 0px
      width: 100%
      height: 100%
      overflow: hidden

      transform: translate3d(0,0%,0)
      transition: transform $speed_metal $evil_ease, background-color $speed_metal linear

      .mask-wrapper-inner
        position: absolute
        top: 0px
        left: 0px
        width: 100%
        height: 100%
        overflow: hidden

        transform: translate3d(0,0%,0)
        transition: transform $speed_metal $evil_ease

      &.no-bg-trans
        transition: transform $speed_metal $evil_ease, background-color 0ms linear

      &.unmask
        transform: translate3d(0,-100%,0)

        .mask-wrapper-inner
          transform: translate3d(0,100%,0)

    .slides-wrapper
      position: absolute
      top: 0px
      left: 0px
      width: 100%
      height: 100%
      overflow: hidden

      user-select: none
      transform: translate3d(0,0px,0)

// -----------------------------------------------
// Home styles
// -----------------------------------------------
.page#home
  .page-inner
    background-color: rgb(255,242,0)

    .mask-wrapper
      .mask-wrapper-inner
        #home-page-slides
          #home-landing
            .slide-inner
              #home-video-wrap
                position: relative
                width: 100%
                height: 100%

                video
                  display: none

                canvas
                  position: absolute
                  top: 50%
                  left: 50%
                  width: auto
                  height: 80%
                  transform: translate(-50%, -50%)
 
// -----------------------------------------------
// About styles
// -----------------------------------------------
.page#about
  .page-inner
    background-color: rgb(0,174,239)
 
// -----------------------------------------------
// Work styles
// -----------------------------------------------
.page#work
  .page-inner
    background-color: rgb(0,174,239)

// -----------------------------------------------
// Error styles
// -----------------------------------------------
.page#error
  .page-inner
    background-color: rgb(0,174,239)

    .title-zone
      .title-holder
        cursor: default

        h2
          opacity: 1

      .callouts
        .callout
          font-size: 0
          line-height: 0
          cursor: default

          .copy
            max-width: 480px
            margin: 18px 0 0
            font-size: 12px
            line-height: 15px
            text-transform: none

          @include respond-above($media_768)
            @include respond-above-ht($media_ht_480)
              .copy
                margin: 30px 0 0
                font-size: 14px

    .meta-zone
      h4
        padding: 0

        &:before,
        &:after
          display: none

        a
          color: $black

// -----------------------------------------------
// Transish
// -----------------------------------------------
.page.out-left, .page.out-right
  transition: transform $speed_metal $evil_ease
  z-index: 1

.page.out-left
  transform: translate3d(-100%, 0, 0)

.page.out-right
  transform: translate3d(100%, 0, 0)

#pages-transition
  position: absolute
  top: 0px
  left: 0px
  width: 100%
  height: 100%
  overflow: hidden
  // background-image: url(../images/bg-transition.png)
  // background-repeat: no-repeat
  // background-position: 50% 0%
  // background-size: 1920px 1920px

  canvas
    position: absolute
    top: 0px
    left: 0px

// #pages-transition.in-left, #pages-transition.in-right, #pages-transition.out-left, #pages-transition.out-right
//   transition: width $speed_metal $evil_ease

// #pages-transition.in-left
//   right: 0px
//   left: auto
//   width: 100%

//   canvas
//     right: 0px
//     left: auto

// #pages-transition.in-right
//   width: 100%

// #pages-transition.out-left
//   right: auto
//   left: 0px
//   width: 0%

//   canvas
//     right: auto
//     left: 0px

// #pages-transition.out-right
//   right: 0px
//   left: auto
//   width: 0%

//   canvas
//     right: 0px
//     left: auto
