// Highlights
::selection
  background: $black
  color: $yellow

::-moz-selection
  background: $black
  color: $yellow

// Animations
@keyframes spinner
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

@keyframes bounce
  0%
    transform: translate3d(0px,0,0)
  50%
    transform: translate3d(6px,0,0)
  100%
    transform: translate3d(0px,0,0)

// Clearfixers
.cf:before,
.cf:after
  content: ''
  display: table

.cf:after
  clear: both

// Vertical align
// for old'ish browsers
.table
  width: 100%
  height: 100%
  display: table

.table-cell
  vertical-align: middle
  display: table-cell