// Fonts
$avenir_regular: 'AvenirNextLTPro-Medium', 'helvetica neue', helvetica, sans-serif
$avenir_bold: 'AvenirNextLTPro-Bold', 'helvetica neue', helvetica, sans-serif
$inconsolata_regular: 'inconsolataregular', 'courier new', courier, serif
$inconsolata_bold: 'inconsolatabold', 'courier new', courier, serif

// Weights
$regular: 400
$bold: 700

// Colors
$black: #000
$white: #fff
$yellow: #fff200
$blue: #00aeef
$gray: #aaa
$evil_gray: #666
$light_gray: #e5e5e5
$almost_white: #f7f7f7
$almost_black: #202020

// Speeds
$speed: 333ms
$speed_metal: 666ms

// Easing
$ease_in: cubic-bezier(0.550, 0.055, 0.675, 0.190)
$ease_out: cubic-bezier(0.215, 0.610, 0.355, 1.000)
$evil_ease: cubic-bezier(0.666, 0.000, 0.333, 1.000)

// MQs
$media_480: 480px
$media_768: 768px
$media_1024: 1024px
$media_1180: 1180px
$media_1400: 1400px
@mixin respond-above($min-size)
  @media all and (min-width: $min-size)
    @content

$media_ht_360: 360px
$media_ht_480: 480px
$media_ht_560: 560px
$media_ht_666: 666px
@mixin respond-above-ht($min-size)
  @media all and (min-height: $min-size)
    @content