// Fonts
$avenir_regular: 'AvenirNextLTPro-Medium', 'helvetica neue', helvetica, sans-serif
$avenir_bold: 'AvenirNextLTPro-Bold', 'helvetica neue', helvetica, sans-serif
$inconsolata_regular: 'inconsolataregular', 'courier new', courier, serif
$inconsolata_bold: 'inconsolatabold', 'courier new', courier, serif

// Weights
$regular: 400
$bold: 700

// Colors
$black: #000
$white: #fff
$yellow: #fff200
$blue: #00aeef
$gray: #aaa
$evil_gray: #666
$light_gray: #e5e5e5
$almost_white: #f7f7f7
$almost_black: #202020

// Speeds
$speed: 333ms
$speed_metal: 666ms

// Easing
$ease_in: cubic-bezier(0.550, 0.055, 0.675, 0.190)
$ease_out: cubic-bezier(0.215, 0.610, 0.355, 1.000)
$evil_ease: cubic-bezier(0.666, 0.000, 0.333, 1.000)

// MQs
$media_480: 480px
$media_768: 768px
$media_1024: 1024px
$media_1180: 1180px
$media_1400: 1400px
@mixin respond-above($min-size)
  @media all and (min-width: $min-size)
    @content

$media_ht_360: 360px
$media_ht_480: 480px
$media_ht_560: 560px
$media_ht_666: 666px
@mixin respond-above-ht($min-size)
  @media all and (min-height: $min-size)
    @content

// Typography mixins
@mixin type
  font-family: $avenir_regular
  font-size: 12px
  line-height: 16px

  @include respond-above-ht($media_ht_480)
    line-height: 20px

  @include respond-above($media_768)
    @include respond-above-ht($media_ht_480)
      font-size: 14px
      line-height: 24px

@mixin type-bold
  font-family: $avenir_bold
  font-size: 12px
  line-height: 16px

  @include respond-above-ht($media_ht_480)
    line-height: 20px

  @include respond-above($media_768)
    @include respond-above-ht($media_ht_480)
      font-size: 14px
      line-height: 24px

@mixin type-mono
  font-family: $inconsolata_regular
  font-size: 12px
  line-height: 16px

  @include respond-above-ht($media_ht_480)
    line-height: 20px

  @include respond-above($media_768)
    @include respond-above-ht($media_ht_480)
      font-size: 14px
      line-height: 24px

@mixin type-mono-small
  font-family: $inconsolata_bold
  font-size: 9px
  line-height: 12px
  letter-spacing: 1px
  text-transform: uppercase