.slide.about-video
    
  // ---------------------------------------------
  // Poster
  // ---------------------------------------------

  .poster
    position: absolute
    top: 0px
    left: 0px
    right: 40px
    bottom: 0px
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    overflow: hidden