.slide.about
    
  // ---------------------------------------------
  // Title zone
  // ---------------------------------------------

  .title-zone
    .title-holder
      margin: 0 0 76px

  // ---------------------------------------------
  // Meta zone
  // ---------------------------------------------

  .meta-zone
    h4
      position: relative
      height: 14px
      padding: 0 0 0 25px
      color: $black

      @include type-mono(14px, $regular)

      &:before
        content: ''
        position: absolute
        top: 0px
        left: 3px
        width: 2px
        height: 12px
        margin: -1px 0 0
        background-color: $black

      &:after
        content: ''
        position: absolute
        bottom: 0px
        left: 0px
        width: 0
        height: 0
        border-left: 4px solid transparent
        border-right: 4px solid transparent
        border-top: 6px solid $black