.slide.appendixed-work
  
  // ---------------------------------------------
  // Cells
  // ---------------------------------------------

  ul.cells
    position: absolute
    top: 0px
    left: 0px
    right: 30px
    height: 100%
    overflow: hidden

    @include respond-above($media_480)
      right: 40px

    li.cell
      float: left
      position: relative
      width: 100%
      height: 16.8%
      overflow: hidden
      opacity: 0

      @for $i from 1 through 6
        &:nth-child(#{$i})
          background-color: rgba(0,0,0,(0.05 * $i))

      &.top
        transform: translate3d(0,-80px,0)

      &.bottom
        transform: translate3d(0,80px,0)

      &.trans-in
        opacity: 1
        transform: translate3d(0,0px,0)

      &.trans-in.top
        @for $i from 1 through 6
          &:nth-child(#{$i})
            transition: transform $speed $evil_ease ((6 - $i) * ($speed / 6)), opacity $speed $evil_ease ((6 - $i) * ($speed / 6))

      &.trans-in.bottom
        @for $i from 1 through 6
          &:nth-child(#{$i})
            transition: transform $speed $evil_ease ($i * ($speed / 6)), opacity $speed $evil_ease ($i * ($speed / 6))

      &.trans-out.top
        transform: translate3d(0,80px,0)

        @for $i from 1 through 6
          &:nth-child(#{$i})
            transition: transform $speed $evil_ease ((6 - $i) * ($speed / 6)), opacity $speed $evil_ease ((6 - $i) * ($speed / 6))

      &.trans-out.bottom
        transform: translate3d(0,-80px,0)

        @for $i from 1 through 6
          &:nth-child(#{$i})
            transition: transform $speed $evil_ease ($i * ($speed / 6)), opacity $speed $evil_ease ($i * ($speed / 6))

      .link-btn,
      .watch-btn
        position: absolute
        top: 0px
        left: 0px
        width: 100%
        height: 100%
        cursor: pointer

        .content
          position: absolute
          top: 50%
          left: 20px
          right: 0px

          transform: translate(0,-50%)

          @include respond-above($media_480)
            left: 40px

          @include respond-above($media_768)
            left: 60px

          @include respond-above($media_1180)
            left: 100px

          .title-holder
            position: relative
            height: 14px
            cursor: pointer

            @include respond-above-ht($media_ht_480)
              height: 20px

            @include respond-above($media_768)
              @include respond-above-ht($media_ht_560)
                height: 30px

            h2
              position: relative
              height: 14px
              font-size: 12px
              line-height: 14px
              font-weight: $bold
              display: inline-block
              overflow: hidden

              @include respond-above-ht($media_ht_480)
                height: 20px
                font-size: 14px
                line-height: 20px

              @include respond-above($media_768)
                @include respond-above-ht($media_ht_560)
                  height: 30px
                  font-size: 23px
                  line-height: 30px

          .sub-text
            position: relative
            width: 100%
            height: 14px
            line-height: 14px
            display: none

            @include type-mono

            &.callout
              text-transform: capitalize
              display: block

              .copy
                float: left
                position: relative
                text-transform: capitalize

              .icon
                float: left
                position: relative
                width: 25px
                height: 100%
                margin: 0 0 0 12px
                overflow: hidden

                .rect
                  position: absolute
                  top: 50%
                  left: 0px
                  width: 14px
                  height: 2px
                  margin: -1px 0 0
                  background-color: $white

                .tri
                  position: absolute
                  top: 50%
                  left: 12px
                  width: 0
                  height: 0
                  margin: -4px 0 0
                  border-top: 4px solid transparent
                  border-bottom: 4px solid transparent
                  border-left: 6px solid $white

            @include respond-above($media_768)
              height: 24px
              line-height: 24px

// ---------------------------------------------
// Party mode
// ---------------------------------------------

.party-on
  ul.cells
    li.cell
      .link-btn:hover,
      .watch-btn:hover
        .content
          .sub-text
            .icon
              animation: bounce $speed $evil_ease