.slide.appendixed-work
  
  // ---------------------------------------------
  // Cells
  // ---------------------------------------------

  ul.cells
    position: absolute
    top: 0px
    left: 0px
    right: 40px
    height: 100%
    overflow: hidden

    li.cell
      float: left
      position: relative
      width: 33.333%
      height: 50%
      overflow: hidden
      opacity: 0

      transform: translate3d(0,80px,0)

      @for $i from 1 through 6
        &:nth-child(#{$i})
          background-color: rgba(0,0,0,(0.05 * $i))
          transition: transform $speed $evil_ease ($i * ($speed / 6)), opacity $speed $evil_ease ($i * ($speed / 6))
          // transition: transform ($speed / 2) $ease ((6 - $i) * 111ms), opacity ($speed / 2) $ease ((6 - $i) * 111ms)

        &.active
          opacity: 1
          transform: translate3d(0,0px,0)

          // transition: transform ($speed / 2) $ease ($i * 111ms), opacity ($speed / 2) $ease ($i * 111ms)

      .cell-inner
        position: absolute
        top: 50%
        left: 80px
        right: 80px

        transform: translate(0,-50%)

        .title-holder
          position: relative
          width: 100%
          height: 105px
          margin: 5px 0 0
          overflow: hidden
        
          .line-holder
            position: absolute
            top: 0px
            left: 0px
            width: 100%
            height: 45px
            overflow: hidden

            &:last-child
              top: auto
              bottom: 0px

            h2
              position: relative
              height: 100%
              overflow: hidden
              display: inline-block

              span
                position: relative
                height: 30px
                padding: 0 0 15px
                font-size: 33px
                line-height: 28px
                font-weight: $bold
                color: $white
                display: inline-block

                &:after
                  content: ''
                  position: absolute
                  bottom: 0px
                  left: 0px
                  width: 100%
                  height: 5px
                  background-color: $black

        h4
          position: relative
          width: 100%
          padding: 28px 0 0
          height: 24px
          @include type-mono(24px, $regular)

        a
          position: absolute
          top: 0px
          left: 0px
          width: 100%
          height: 100%