.slide.featured-work
  
  // ---------------------------------------------
  // Picture zone
  // ---------------------------------------------

  .picture-zone
    position: absolute
    top: 0px
    left: 50%
    width: 100%
    height: 100%
    background-repeat: no-repeat
    background-position: left bottom
    background-size: contain
    overflow: hidden
  
  // ---------------------------------------------
  // Title zone
  // ---------------------------------------------

  .title-zone
    position: absolute
    top: 50%
    left: 100px
    right: 100px

    transform: translate(0,-50%)

    .title-holder
      position: relative
      width: 100%
      height: 210px
      overflow: hidden
    
      .line-holder
        position: absolute
        top: 0px
        left: 0px
        width: 100%
        height: 90px
        overflow: hidden

        &:last-child
          top: auto
          bottom: 0px

        h2
          position: relative
          height: 100%
          overflow: hidden
          display: inline-block
          cursor: pointer

          transform: translate3d(0,0%,0)

          &.top
            transform: translate3d(0,-100%,0)

          &.bottom
            transform: translate3d(0,100%,0)

          &.trans-in
            transform: translate3d(0,0%,0)
            transition: transform $speed linear

          &.trans-out
            transition: transform $speed linear

          &.trans-out.top
            transform: translate3d(0,100%,0)

          &.trans-out.bottom
            transform: translate3d(0,-100%,0)

          span
            position: relative
            height: 60px
            padding: 0 0 30px
            font-size: 66px
            line-height: 56px
            font-weight: $bold
            display: inline-block

            &:after
              content: ''
              position: absolute
              bottom: 0px
              left: 0px
              width: 100%
              height: 10px
              background-color: $black

    .callouts
      position: relative
      width: 100%
      height: 76px
      font-size: 0
      line-height: 0
      overflow: hidden

      .callout
        float: left
        position: relative
        height: 100%
        padding: 0 20px
        cursor: pointer

        @include type-mono(76px, $bold)

        &:first-child
          padding: 0 20px 0 0

        &:last-child
          padding: 0 0 0 20px

        .copy
          float: left
          position: relative
          text-transform: capitalize

        .icon
          float: left
          position: relative
          width: 25px
          height: 100%
          margin: 0 0 0 12px
          overflow: hidden
          display: inline-block

          &:before
            content: ''
            position: absolute
            top: 50%
            left: 0px
            width: 14px
            height: 2px
            margin: -1px 0 0
            background-color: $white

          &:after
            content: ''
            position: absolute
            top: 50%
            left: 12px
            width: 0
            height: 0
            margin: -4px 0 0
            border-top: 4px solid transparent
            border-bottom: 4px solid transparent
            border-left: 6px solid $white

  // ---------------------------------------------
  // Meta zone
  // ---------------------------------------------

  .meta-zone
    position: absolute
    bottom: 40px
    left: 100px
    right: 100px

    ul
      float: left
      position: relative
      width: 234px

      &:before
        content: 'Client(s)'
        position: absolute
        bottom: 0px
        left: 10px
        height: 10px
        color: $black
        display: block
        
        @include type-mono-small
        font-weight: $regular

        transform: rotate(-90deg) translate3d(0,0,0)
        transform-origin: bottom left

      &.mediums:before
        content: 'Medium(s)'

      li
        float: left
        position: relative
        width: 42px
        height: 22px
        margin: 0 14px 0 0
        box-shadow: inset 0px 0px 0px 2px $black

        &:first-child
          margin: 0 14px 0 22px

      &:last-child
        li:last-child
          width: 13px

  // ---------------------------------------------
  // Zones that will fade in/out
  // ---------------------------------------------

  .zone
    opacity: 0

    transition: opacity $speed $ease

  // ---------------------------------------------
  // Detail zone
  // ---------------------------------------------

  .detail-zone
    position: absolute
    top: 0px
    left: 50%
    width: 50%
    height: 100%
    display: none

    .detail-zone-inner
      position: absolute
      top: 0px
      left: 0px
      right: 40px
      bottom: 0px
      overflow: hidden

      .cell
        position: absolute
        top: 0px
        left: 0px
        width: 100%
        overflow: hidden

        &.video-cell
          height: 0
          padding: 0 0 56.25%

          iframe,
          .video-poster
            position: absolute
            top: -1px
            left: -1px
            right: -1px
            bottom: -1px
            overflow: hidden

          .video-poster
            background-repeat: no-repeat
            background-position: center center
            background-size: cover
            cursor: pointer

            span
              position: absolute
              top: 50%
              left: 50%
              height: 30px
              padding: 60px 0 0

              @include type(30px, $regular)

              transform: translate(-50%,-50%)

              &:before
                content: ''
                position: absolute
                top: 0px
                left: 50%
                width: 0
                height: 0
                margin: 0 0 0 -20px
                border-top: 25px solid transparent
                border-bottom: 25px solid transparent
                border-left: 40px solid $white

              &:after
                content: ''
                position: absolute
                bottom: 0px
                left: 0px
                width: 100%
                height: 3px
                background-color: $white

        &.summary-cell
          margin: 56.25% 0 0
          bottom: 0px
          background-color: $black

        .cell-inner
          position: absolute
          top: 50px
          left: 50px
          right: 50px
          bottom: 40px

          h3
            @include type-mono(24px, $bold)

          p
            color: $gray
            @include type-mono(24px, $bold)

          .services
            position: absolute
            bottom: 0px
            left: 0px
            color: $gray

            @include type-mono-small

            &:before
              content: 'Services Provided'
              color: $white
              display: block
