.slide.home-feature

  // ---------------------------------------------
  // Info zone
  // ---------------------------------------------

  .info-zone
    position: absolute
    top: 50%
    width: 100%
    margin-top: -8px
    transform: translate(0, -50%)

    @include respond-above($media_768)
      @include respond-above-ht($media_ht_560)
        margin-top: -15px

    .info-holder
      position: relative
      padding: 0 20px
      opacity: 0

      transform: translate3d(0,0px,0)

      @include respond-above($media_480)
        padding: 0 40px

      @include respond-above($media_768)
        padding: 0 60px

      @include respond-above($media_1180)
        padding: 0 100px

      .subtitle
        display: block
        font: normal normal normal 9px/9px $inconsolata_regular
        margin-bottom: 10px
        text-transform: uppercase

        @include respond-above($media_768)
          @include respond-above-ht($media_ht_560)
            font: normal normal normal 11px/11px $inconsolata_regular
            margin-bottom: 20px

      h2
        height: auto
        margin-bottom: 12px
        font: normal normal normal 18px/18px $avenir_bold
        color: $black
        text-rendering: optimizeLegibility

        @include respond-above($media_ht_360)
          font: normal normal normal 20px/24px $avenir_bold

        @include respond-above($media_480)
          margin-bottom: 24px

        @include respond-above-ht($media_ht_360)
          margin-bottom: 24px
          font: normal normal normal 18px/22px $avenir_bold

        @include respond-above($media_768)
          @include respond-above-ht($media_ht_560)
            font: normal normal normal 32px/38px $avenir_bold
            margin-bottom: 38px

      p
        max-width: 300px
        padding-right: 40px
        font: normal normal normal 11px/14px $avenir_regular

        @include respond-above-ht($media_ht_360)
          font: normal normal normal 11px/16px $avenir_regular

        @include respond-above($media_768)
          @include respond-above-ht($media_ht_560)
            max-width: 440px
            font: normal normal normal 16px/25px $avenir_regular

        a
          position: relative
          color: $white
          display: inline-block

          &:after
            content: ''
            position: absolute
            bottom: 0px
            left: 0px
            width: 100%
            height: 2px
            background-color: $black
            opacity: 0.2

        a:hover:after
          opacity: 1

      p.job-list
        margin-top: 12px
        line-height: 18px

        @include respond-above($media_768)
          line-height: 27px

        a
          &:after
            bottom: 2px

      .list-pile
        width: 100%
        max-width: 360px

        @include respond-above($media_768)
          @include respond-above-ht($media_ht_560)
            max-width: 540px

      ul.lists
        float: left
        width: 50%
        margin-bottom: 10px

        &:nth-child(3),
        &:nth-child(4)
          margin-bottom: 0px

        @include respond-above-ht($media_ht_360)
          margin-bottom: 20px

          &:nth-child(3),
          &:nth-child(4)
            margin-bottom: 0px

        li
          font: normal normal normal 11px/14px $avenir_regular
          margin: 0 10px 0 0

          @include respond-above-ht($media_ht_360)
            font: normal normal normal 11px/16px $avenir_regular

          @include respond-above($media_768)
            @include respond-above-ht($media_ht_560)
              font: normal normal normal 16px/25px $avenir_regular

          &:first-child
            font: normal normal normal 9px/9px $inconsolata_regular
            margin-bottom: 4px
            color: $black
            text-transform: uppercase

            @include respond-above-ht($media_ht_360)
              margin-bottom: 10px

            @include respond-above($media_768)
              @include respond-above-ht($media_ht_560)
                font: normal normal normal 11px/11px $inconsolata_regular
                margin-bottom: 20px

          a
            position: relative
            color: $white
            display: inline-block

            &:after
              content: ''
              position: absolute
              bottom: 0px
              left: 0px
              width: 100%
              height: 2px
              background-color: $black
              opacity: 0.2

          a:hover:after
            opacity: 1

          span.full
            display: none
          span.chop
            display: block

          @include respond-above($media_480)
            span.full
              display: block
            span.chop
              display: none

        &:nth-child(5),
        &:nth-child(6)
          margin: 10px 0 0

          @include respond-above-ht($media_ht_480)
            margin: 38px 0 0

        @include respond-above-ht($media_ht_560)
          li
            display: block

      ul.socials
        margin-top: 12px
        font-size: 0
        line-height: 0

        @include respond-above($media_480)
          margin-top: 24px

        @include respond-above-ht($media_ht_360)
          margin-top: 24px

        @include respond-above($media_768)
          @include respond-above-ht($media_ht_560)
            margin-top: 38px

        li
          display: inline-block
          height: 20px

          a
            display: block
            height: 100%
            padding: 0 8px

            svg
              display: block
              width: 100%
              height: 100%
              fill: $black

          a#social-twitter
            width: 24px

          a#social-facebook
            width: 10px

          a#social-vimeo
            width: 23px

          a#social-github
            width: 20px

          &:first-child
            a
              padding-left: 0px

      &.top
        transform: translate3d(0,-24px,0)

      &.bottom
        transform: translate3d(0,24px,0)

      &.trans-in
        opacity: 1

        transform: translate3d(0,0px,0)
        transition: transform $speed $ease_out, opacity $speed $ease_out

      &.trans-out
        opacity: 0
        
        transition: transform $speed $ease_in, opacity $speed $ease_in

      &.trans-out.top
        transform: translate3d(0,24px,0)

      &.trans-out.bottom
        transform: translate3d(0,-24px,0)

  #recognition-pile.picture-zone
    canvas
      position: absolute
      top: 0px
      left: 50%
      transform: translate(-50%, 0)

      @include respond-above($media_768)
        left: 25%

  &#home-contact
    .info-zone
      .info-holder
        ul.lists
          width: 100%

          &:nth-child(2)
            margin-bottom: 0px

          @include respond-above($media_480)
            width: 50%
            margin: 0

          // @include respond-above($media_768)
          //   @include respond-above-ht($media_ht_560)
          //     margin-bottom: 20px


// ---------------------------------------------
// Party mode
// ---------------------------------------------

.party-on
  .slide.home-feature
    .info-zone
        ul.socials
          li
            a
              svg
                transition: fill $speed $ease_out
              
              &:hover
                svg
                  fill: $almost_black