.slide.work
  
  // ---------------------------------------------
  // Title zone
  // ---------------------------------------------

  .title-zone
    .title-holder
      margin: 0 0 50px

      @include respond-above($media_1024)
        @include respond-above-ht($media_ht_560)
          margin: 0 0 76px

  // ---------------------------------------------
  // Meta zone
  // ---------------------------------------------

  .meta-zone
    bottom: 18px

    @include respond-above-ht($media_ht_480)
      bottom: 38px
