.slide.work-feature

  // ---------------------------------------------
  // Meta zone
  // ---------------------------------------------

  .meta-zone
    display: none

    @include respond-above-ht($media_ht_360)
      display: block

    ul
      &:before
        content: 'Client(s)'
        position: absolute
        bottom: 0px
        left: 10px
        height: 10px
        color: $black
        display: block
        @include type-mono-small

        transform: rotate(-90deg) translate3d(0,0,0)
        transform-origin: bottom left

      li
        float: left
        position: relative
        height: 20px
        margin: 0 14px 0 0

        &:first-child
          margin: 0 14px 0 25px

        img
          width: auto
          height: 100%
          vertical-align: middle
          display: block

      &.mediums
        &:before
          content: 'Medium(s)'
        
        li
          svg
            width: 100%
            height: 100%
            fill: pink
            display: block

          &.web
            width: 25px

          &.animation
            width: 16px

          &.three-dimensional
            width: 18px
          
          &.experiential
            width: 18px

          &.illustration
            width: 18px

          &.live-action
            width: 18px

          &.game
            width: 29px

          &.sound
            width: 14px

          span
            position: absolute
            bottom: 100%
            left: 50%
            height: 40px
            padding: 0 20px
            font-family: $inconsolata
            font-size: 14px
            line-height: 40px
            text-transform: capitalize
            background-color: $black
            visibility: hidden
            white-space: nowrap
            opacity: 0

            transform: translate3d(-50%,-2px,0)

            &:after
              content: ''
              position: absolute
              top: 100%
              left: 50%
              width: 0
              height: 0
              margin: -1px 0 0 -6px
              border-left: 6px solid transparent
              border-right: 6px solid transparent
              border-top: 6px solid $black

// ---------------------------------------------
// Party mode
// ---------------------------------------------

.party-on
  .slide.work-feature
    .meta-zone
      ul.mediums
        li:hover
          span
            visibility: visible
            opacity: 1

            transform: translate3d(-50%,-10px,0)
            transition: transform $speed $evil_ease 100ms, opacity $speed $evil_ease 100ms